.button-bar{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dislike:active{
    background-color: #dbe1e7;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.like:active{
    background-color: #dbe1e7;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.bar-container{
    z-index: 5;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bottom-bar{
    z-index: 5;
    border-radius: 15px;
    margin-top: 10vh;
    width: 87vw;
    height: 8vh;

    align-items: center;
    align-content: center;

    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}
.like{

    border-left: #848386 2px solid;
}