.profile-card{
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background-color: deepskyblue;
}
.profile-image{
    width: 100%;
}
.username-text{
    text-align: center;
}
.description-text{
    text-align: center;
}