h2{
    padding: 5px;
    margin-top: 5px;
}
.filter-option{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;

}
span{
    font-size: 18px;
}

.filter{
    color: aliceblue;
}
.MuiSlider-valueLabel{
    background-color: rgba(150, 150, 150, 0);
    font-size: 10px;
    padding: 2px;
}

 .MuiSlider-valueLabelCircle{
    transform: translateY(240%) scale(1);
}
.css-1a4svkv-MuiSlider-root{
    height: 9px;
}
.MuiSelect-select{
    border: 2px solid white;
    color: white;
}
